<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>US Postage</title>
  </head>
  <body>
    <h1>This is the price:</h1><br>
    <%= price%>
    <br>
    <h2>Weight and Type:</h2><br>
    Type: <%= type%> <br> Weight: <%= weight%> 
  </body>
</html>
